@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');



* {
    padding: 0%;
    margin: 0%;
    font-family: 'Allerta Stencil', sans-serif;
    font-weight: bolder;
    background-color: #174052;
    color: #CC9738;
}


.container {
    display: grid;
    grid: 150px auto auto auto;
    grid-template-areas: "header" "navbar" "main" "footer";
    gap: 10px;
   
}

.logo{
    object-fit:cover;
    width: 30%;
}

.header {
    grid-area: header;
    border: 10px solid #174052;
    text-align:center;
    padding: 0;
}


.navbar {
    grid-area: navbar;
    padding: 10px 10px;
    border: 10px solid rgb(135, 222, 144);

}

.main {
    grid-area: main;
    padding: 10px 10px;
    border: 10px solid violet;
}

/* .sidebar {
    grid-area: sidebar;

} */

.footer {
    grid-area: footer;
    padding: 10px 10px;
    border: 10px solid rgb(135, 193, 222);

}



/* PC, la media query funcionara cuando llegue a mas de 600 pxse cambiara el fondo a azul*/
/* 
@media (min-width: 1024px) {
    .container {
        grid-template:
            "header header header" 100px
            "navbar main" auto
            "footer footer footer" 100px / 200px auto 200px;
    }
}
 */

/* Responsive para tableta, la media query funcionara cuando llegue a mas de 600 pxse cambiara el fondo a azul*/